body
  font-family: Helvetica

.axis path, .axis line
  fill: none
  stroke: black
  shape-rendering: crispEdges

.bar-labels
  text
    font-weight: bold

div.bar-labels
  position: absolute

div.bar-label
  text-align: right
  font-size: 10px

.axis text
  font-family: sans-serif
  font-size: 11px

.tweet
  fill: MediumSeaGreen
  stroke: green
  cursor: pointer

.registered-bar
  stroke: white
  stroke-width: 2
  opacity: 0.2
  fill: darken(#ccc, 50%)

div.bars-container
  position: relative

div.bar
  position: absolute

div.registered-bar
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"

  /* IE 5-7 */
  filter: alpha(opacity=20)

  /* Netscape */
  -moz-opacity: 0.2

  /* Safari 1.x */
  -khtml-opacity: 0.2

  /* Good browsers */
  opacity: 0.2
  position: absolute
  background: darken(#ccc, 50%)

div.at-capacity
  background: red

div.at-warning
  background: orange

.at-capacity
  fill: red !important

.at-warning
  fill: orange !important

.warning
  opacity: 0.5

.capacity
  opacity: 0.5

.warning-text
  fill: darken(orange, 20%)
  stroke: orange
  font-weight: normal !important

.warning-tick
  stroke: orange
  stroke-width: 2

.capacity-text
  fill: darken(red, 20%)
  stroke: red
  font-weight: normal !important

.capacity-tick
  stroke: red
  stroke-width: 2
