body
  font-family: Helvetica

.axis path, .axis line
  fill: none
  stroke: black
  shape-rendering: crispEdges

.bar-labels
  text
    font-weight: bold

.axis text
  font-family: sans-serif
  font-size: 11px

.tweet
  fill: MediumSeaGreen
  stroke: green
  cursor: pointer

.registered-bar
  stroke: white
  stroke-width: 2
  opacity: 0.2
  fill: darken(#ccc, 50%)

.at-capacity
  fill: red !important
  opacity: 0.2

.at-warning
  fill: orange !important
  opacity: 0.2

.warning
  opacity: 0.5

.capacity
  opacity: 0.5

.warning-text
  fill: darken(orange, 20%)
  stroke: orange
  font-weight: normal !important

.warning-tick
  stroke: orange
  stroke-width: 2

.capacity-text
  fill: darken(red, 20%)
  stroke: red
  font-weight: normal !important

.capacity-tick
  stroke: red
  stroke-width: 2
