<!doctype html>
<meta charset="utf-8">
<html>
  <head>
    <script src="http://localhost:35729/livereload.js?snipver=1"></script>
    <link rel="stylesheet" href="/assets/app.css"></link>

  </head>

  <body>

    <script type="text/javascript" src="/assets/d3/d3.js"></script>
    <script type="text/javascript" src="/assets/app.js"></script>
  </body>
</html>
